<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<ul>
  <div>
    <a href="./assets/wagon/index.html">wagon wheel</a>
  </div>
  <div>
    <a href="./assets/Image tag/Image Tag.html">image tag</a>
  </div>

  <div>
    <a href="https://13-dot-tagat-europe2.appspot.com/temp?spaceid=0e5999c5-73ed-476b-8297-c6ead71dc1fd&tempid=70e1d8a0-c244-7541-32eb-4d47dfb493d7">Template</a>
  </div>

   <div>
    <a href="https://13-dot-tagat-europe2.appspot.com/doc?spaceid=0e5999c5-73ed-476b-8297-c6ead71dc1fd&docid=7b8cfdc2-1293-4e00-82ca-54f72be98f6b#theCarousel">video player</a>
  </div>   
  <div>
    <a href="https://13-dot-tagat-europe2.appspot.com/doc?spaceid=0e5999c5-73ed-476b-8297-c6ead71dc1fd&docid=09d9c88b-705c-4fd9-aec3-b7d7b984b06c">New Document</a>
  </div>
</ul>